{{!-- Similar to dashboard, contains a header with links --}}
<header>
    <h1>Mango Messaging
    </h1>
    <nav>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </nav>
</header>

<div class="greeting">
    <h2>Direct Messaging</h2>
    <p>Find or start a conversation between friends!</p>
</div>

{{!-- Contains any 1 to 1 direct messages to the left. Open them up to continue the conversation. To start a new conversation, click the userbase to the right. --}}
<main>
    {{!-- Left section contains private messages between --}}
    {{#each privatechat}}
    <div class="">
        <div>
            <h3>Insert username of the individual you've been chatting with</h3>
            <h4>Timestamp of the last message being sent and by which user</h4>
        </div>
    </div>
    {{/each}}
    {{!-- Contains the userbase --}}
    <div>
        {{!-- For each user, render them on the page. Get this working at a basic level.
        Then later on, display them with online users at the top (with an icon) and offline users at the bottom --}}
        <ul class="userBase">
            {{#each user}}
                <li>this.username goes here</li>
            {{/each}}
        </ul>
    </div>


</main>
